@charset "UTF-8";

@media screen and (max-width: 768px) {
    body{
        flex-flow: column nowrap;
    }
    main{
        height: auto;
        width: 90%;
        margin: 10% 0px;

        flex-direction: column;
        flex: 0 1 560px;
        align-items: center;
        justify-content: center;
    }
    main > div{
        flex-direction: column;
        
        
    }
    main > div#image{
        width: 100%;
    }
    main > div#content{
        width: auto;
        box-sizing: border-box;;
        
         
    }
}