@charset "UTF-8";

@media screen and (max-width: 768px) {
    main{
        height: auto;
        
        

        display: flex;
        flex-flow: column wrap;
        flex: 0 1 90%;
        align-items: center;
        justify-content: center;

        
    }
    main > div{
        flex-direction: column;
        
        
    }
    main > div#image{
        width: 100%;
    }
    main > div#content{
        width: auto;
        
        
         
    }
}