@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font_presentation: "Montserrat", serif;
    --font_presentation_number: "Fraunces", serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
main{
    background-color: white;
    
    height: auto;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 560px;
}

main > div{
    display: flex;
    flex-flow: row wrap;
}
main > div#image{
    flex: 1;
    
}
main > div#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main > div#content{
    padding: 30px;

    flex-flow: column nowrap;
    flex: 1;

}
main > div#content > h1{
    font-size: 1.3em;
    font-family: var(--font_presentation);
    font-weight: 500;
    padding-bottom: 10px;
}

main > div#content > h2{
    font-family: var(--font_presentation_number);
    font-size: 2.3em;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 1em;
}

main > div#content > p{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
    padding-bottom: 12px;

}

main > div#content > h2#price{
    color: hsl(158, 36%, 37%);
    padding-bottom: 15px;
    font-size: 1.6em;
}

main > div#content > h2#price::after{
    content: "$169,99";
    font-size: 0.6em;
    font-weight: 500;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

main > div#content > a{
    background-color: hsl(158, 36%, 37%);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: white;



}